#intro
  %h1 Anne Frank: A Brief History
  %p Anne Frank is a Jewish girl who had to go into hiding during the Second World War to escape the Nazis
  %img{ :src => "images/AnneFrank.jpg", :alt => "AnneFrank.jpg" }

#timeline
  %ol
    %li
      %h2 Life in Germany (1925)
      After getting married, Otto and Edith Frank settle in Frankfurt. They soon have children: Margot in 1926, and Anne in 1929. Those first few years are happy ones, but the economic crisis empowers Hitler’s NSDAP. In 1933, Hitler takes over as leader of the German government. Otto and Edith Frank are deeply worried and look for a means of escape.
      
    %li
      %h2 Emigrating to the Netherlands (1933)
      Otto Frank manages to set up a business in Amsterdam. Edith, Margot and Anne follow him to the Netherlands. They find a place to live on the Merwedeplein. The Franks feel safe and free again. The children go to school, Otto works hard on his business and Edith takes care of the household. But then World War 2 breaks out. On 10 May 1940, Germany invades the Netherlands. The Frank family is in danger once more.
    
    %li
      %h2 The German Invasion (1940)
      With the Netherlands now occupied, life changes for the Frank family. Restrictions keep mounting, both for individuals and for Otto's business. When Margot is called up to be sent to a German labour camp, Otto and Edith decide the dangers have become too great. They take their family into hiding. 
    
    %li
      %h2 The Hiding Place (1942)
      There are four other Jews in the Secret Annex besides the Frank family: Hermann and Auguste van Pels with their son Peter, and Fritz Pfeffer. Four of Otto’s employees help them. Everyone lives in constant fear of discovery. And it’s certainly not easy for eight people to live in such close quarters.
    
    %li
      %h2 The Arrest (1944)
      On 4 August 1944, everyone in the Secret Annex is arrested. Someone has betrayed them. They are deported first to the Westerbork transit camp, and then on to Auschwitz. Otto Frank is the only person from the Secret Annex to survive the camps. The others all die. Hermann van Pels is murdered in the gas chambers, and Auguste is thrown in front of a train during a transport. The others die of disease and exhaustion. The identity of their betrayer has never been established.
    
    %li
      %h2 Otto Returns (1945)
      After Auschwitz is liberated, Otto returns to Amsterdam. On his way back, he hears of Edith’s death. Back in Amsterdam, he goes to see Miep and Jan Gies. He hopes Anne and Margot might still be alive, but then discovers that they too did not survive the war. Miep gives him Anne’s diaries. Anne had wanted her diary to be published after the war, and her wish would eventually come true.
    
    %li
      %h2 The Diary is Published (1947)
      After the war, Otto Frank devotes himself to working for human rights and respect. He answers thousands of letters from people who have read his daughter’s diary. The diary is translated, and adapted to both film and theatre. People all over the world get to know Anne Frank’s story, and are deeply touched.
    
    %li
      %h2 The Diary as a Best Friend
      Anne doesn’t just keep a diary during her time in the Secret Annex. She also writes short stories and collects her favourite sentences by other writers in a notebook. Anne hopes for her diary to be published as a novel after the war. That’s why she starts rewriting it. But Anne never manages to finish it. She's discovered and arrested before she completes her work.
    
    %li
      %h2 From Hiding Place to Museum
      After the war the secret annex was seriously threatened. It was on the list of buildings to be knocked down. A number of people in Amsterdam campaigned. They set up the foundation now known as The Anne Frank House. Its most important goal: preserving the hiding place.