!!!
%html
  %head
    %title Anne Frank: A Brief History
    = stylesheet_link_tag :all
    = csrf_meta_tag
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
  %body
    #container
      #header
        %h1
          Anne Frank: A Brief History
        #subtitle Anne Frank is a Jewish girl who had to go into hiding during the Second World War to escape the Nazis
        
      %div#primary
        = yield
      #footer
        %cite
          &copy; Anne Frank: A Brief History (2011)
